.navbar-bg {
  background: #e6f0ff;
}
.navbar-bg .btn-custom-css {
  outline: 1px solid black;
}

.custom-button-group {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #0f1b4c;
}
.custom-button-group .custom-button {
  background: #0f1b4c;
  border-radius: 8px;
  color: white;
  padding: 9px 20px;
  box-shadow: 0;
  outline: none;
  border: none;
}

.margin-custom-item {
  padding: 0 1.5rem !important;
}

.house-illustration {
  background: #e6f0ff;
}
.house-illustration .house-description {
  margin-top: 13rem;
}
.house-illustration .house-description p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #687691;
}
.house-illustration .house-description h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: #000336;
}
.house-illustration .house-description .house-button button {
  background: #0f1b4c;
  border-radius: 8px;
  color: white;
  padding: 9px 20px;
  box-shadow: 0;
  outline: none;
  border: none;
}

.client-logo .client-logo-header p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #7d8589;
}

@media (min-width: 992px) {
  .client-logo .custom-clinet-review {
    padding-left: 22rem;
  }
}
.featured-section {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.featured-section .featured-header {
  margin-bottom: 5rem;
}
.featured-section .featured-header h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 35px;
  color: #000339;
}
.featured-section .featured-header P {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #5a6473;
}

@media (min-width: 576px) and (max-width: 1400px) {
  .featured-section .featured-header {
    position: relative;
  }
  .featured-section .featured-header .featured-right {
    position: absolute;
    top: 3rem;
    right: 1rem;
  }
  .featured-section .featured-header .featured-right a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #0689ff;
  }
}
.featured-card-section .card .card-body h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #000339;
}
.featured-card-section .card .card-body p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #a3a6ab;
}

@media (max-width: 576px) {
  .featured-card-section {
    margin: auto;
    text-align: center;
  }
}
.working-section {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.working-section .work-header hr {
  background-color: #000339 !important;
  width: 50px !important;
  height: 5px !important;
  border-radius: 8px;
}
.working-section .work-header h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  color: #000339;
}
.working-section .work-header p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #5a6473;
}

.working-section-button button {
  background: #0f1b4c;
  border-radius: 8px;
  color: white;
  padding: 9px 20px;
  box-shadow: 0;
  outline: none;
  border: none;
}

.project-item {
  position: relative;
}
.project-item .project-absolute {
  background: white;
  position: absolute;
  top: 1rem;
  left: 0px;
  border-radius: 12px;
}
.project-item .project-absolute h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #000339;
}
.project-item .project-absolute p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #a7a7a7;
}

@media (max-width: 572px) {
  .project-item {
    position: relative;
  }
  .project-item .project-absolute {
    position: absolute;
    top: 0rem;
    left: 0rem;
  }
}
.project-details {
  margin-top: 150px;
}
.project-details hr {
  background-color: #000339 !important;
  width: 50px !important;
  height: 5px !important;
  border-radius: 8px;
}
.project-details h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #000339;
}
.project-details p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #5a6473;
}

.count-section .count-item h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  color: #000000;
}
.count-section .count-item p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #7b8087;
}

.mobile-view .view-bg {
  background: #063183;
  border-radius: 30px;
}
.mobile-view .view-bg .view-details h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 35px;
  color: #ffffff;
}
.mobile-view .view-bg .view-details p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.75;
}
.mobile-view .view-bg .view-details button {
  padding: 1rem 1.5rem;
  background: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #002366;
}
.mobile-view .view-bg .view-img {
  margin-top: -2rem;
}

/*# sourceMappingURL=style.css.map */
