.count-section {
  .count-item {
    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 64px;
      line-height: 64px;
      color: #000000;
    }
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #7b8087;
    }
  }
}
