.mobile-view {
  .view-bg {
    background: #063183;
    border-radius: 30px;
    .view-details {
      h2 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 35px;
        color: #ffffff;
      }
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #ffffff;
        opacity: 0.75;
      }
      button {
        padding: 1rem 1.5rem;
        background: white;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        color: #002366;
      }
    }
    .view-img{
      margin-top: -2rem;
    }
  }
}
