.navbar-bg {
  background: #e6f0ff;

  .btn-custom-css {
    outline: 1px solid black;
  }
}

.custom-button-group {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #0f1b4c;

  .custom-button {
    background: #0f1b4c;
    border-radius: 8px;
    color: white;
    padding: 9px 20px;
    box-shadow: 0;
    outline: none;
    border: none;
  }
}

.margin-custom-item {
  padding: 0 1.5rem !important;
}

.house-illustration {
  background: #e6f0ff;

  .house-description {
    margin-top: 13rem;

    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.01em;
      color: #687691;
    }

    h2 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 76px;
      color: #000336;
    }

    .house-button {
      button {
        background: #0f1b4c;
        border-radius: 8px;
        color: white;
        padding: 9px 20px;
        box-shadow: 0;
        outline: none;
        border: none;
      }
    }
  }
}
