.working-section {
  .work-header {
    hr {
      background-color: #000339 !important;
      width: 50px !important;
      height: 5px !important;
      border-radius: 8px;
    }
    h1 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 35px;
      text-align: center;
      color: #000339;
    }
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      color: #5a6473;
    }
  }
}

.working-section-button {
  button {
    background: #0f1b4c;
    border-radius: 8px;
    color: white;
    padding: 9px 20px;
    box-shadow: 0;
    outline: none;
    border: none;
  }
}
